{% extends "base.html" %}

 {% block title %}People{% endblock %}
 {% block content %}
  <h1>People</h1>
  <div id="people-list">
    {% for user in users %}
      <div class="user">
        <a href="{{ user.get_absolute_url }}">
          <img src="https://png.pngtree.com/png-vector/20220608/ourmid/pngtree-man-avatar-isolated-on-white-background-png-image_4891418.png">
        </a>
        <div class="info">
          <a href="{{ user.get_absolute_url }}" class="title">
            {{ user.get_full_name|default:user.username }}
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
 {% endblock %}